<div id="dashMain">
  <h1>Dashboard</h1>
  <%= link_to "New Campaign", new_campaign_path %>
  <%= link_to "Edit Users", users_path %>
  <%= link_to "Sign Out", signout_path, method: "delete" %>
  <br>
  <strong>CSV</strong>
  <%= link_to "Raw Shares", shares_path(format: :csv) %>
  <%= link_to "Raw Clicks", click_throughs_path(format: :csv) %>
  <%= link_to "Raw Campaigns", campaigns_path(format: :csv) %>
  <ul>
    <% @campaigns.each do |campaign| %>
      <li>
      <strong>foundation_name: </strong> <%= campaign.foundation_name %>
      <strong>publisher_name: </strong>  <%= campaign.publisher_name %>
      <strong>domains: </strong>         <%= campaign.domains_to_s %>
      <strong>value_per_share: </strong> <%= campaign.value_per_share %>
      <strong>value_per_click: </strong> <%= campaign.value_per_click %>
      <strong>goal: </strong>            <%= campaign.goal %>
      <strong>paypal: </strong>       <%= campaign.paypal %>
      <strong>campaign_id: </strong>     <%= campaign.id %>
      <br> <strong>Shares:</strong> <%= Share.total_for_campaign campaign.id %>
      <br><strong><%= link_to "Edit",(edit_campaign_path campaign.id) %></strong>
      </li>
    <% end %>
  </ul>
</div>
