<h1>Dashboard</h1>
<div class="columns">
  <ul class="inline-list">
    <li><%= link_to "New Campaign", new_campaign_path %></li>
    <li><%= link_to "Edit Users", users_path %></li>
    <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
  </ul>
  <ul class="inline-list">
    <li><strong>CSV</strong></li>
    <li><%= link_to "Raw Shares", shares_path(format: :csv) %></li>
    <li><%= link_to "Raw Clicks", click_throughs_path(format: :csv) %></li>
    <li><%= link_to "Raw Campaigns", campaigns_path(format: :csv) %></li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>Foundation name</th>
        <th>Publisher name</th>
        <th>Share cooldown days</th>
        <th>Goal</th>
        <th>Share $</th>
        <th>Click $</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= campaign.foundation_name %></td>
          <td><%= campaign.publisher_name %></td>
          <td><%= campaign.share_cooldown_days %></td>
          <td><%= campaign.goal %></td>
          <td><%= Share.total_for_campaign campaign %></td>
          <td><%= ClickThrough.total_for_campaign campaign %></td>
          <td><strong><%= link_to "Edit",(edit_campaign_path campaign.id) %></strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
