<h1>Sign in</h1>
<p id="error"><%= flash[:error] %></p>
<p id="notice"><%= flash[:notice] %></p>
<%= form_for(:session, url: sessions_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
<% end %>
