<%= form_for(@publisher) do |f| %>
  <% if @publisher.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>

  <ul>
    <% @publisher.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :paypal_link %><br>
  <%= f.text_field :paypal_link %>
</div>
<div class="field">
  <%= f.label :limit %><br>
  <%= f.number_field :limit %>
</div>
<div class="field">
  <%= f.label :campaign %><br>
  <%= f.collection_select :campaign_id, Campaign.all, :id, :name, prompt: true %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
