<p id="notice"><%= notice %></p>

<p>
  <strong>Paypal link:</strong>
  <%= @publisher.paypal_link %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @publisher.limit %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @publisher.campaign %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
