<!DOCTYPE html>
<html>
  <head>
    <title>impaq-me</title>
    <link rel="stylesheet" type="text/css" href="css/app.css" media="all" />
  </head>
  <body>
    <section>
      <div id="wrapper">
        <main>
          <div>
            <div id="share">
              <input type="text" placeholder="Why was this story important to you?">
              <div class="fb-like" data-href="http://inn-publisher.herokuapp.com" data-width="90" data-layout="button_count"></div>
              <a href="https://twitter.com/share?url=http://inn-publisher.herokuapp.com&amp;text=Hello,%20World!&amp;via=testdoubletest" class="twitter-share-button" data-lang="en">Tweet</a>
            </div>
            <p id="campaign_meter"><span id="progress"></span><span>$<span id="dollars_raised"></span> Donated by sharing this article so far</span></p>
            <p id="details"><%= @bootstrap[:publisher_name] %> is a non-profit, if you share this article, the <%= @bootstrap[:foundation_name] %> will donate <em class="donation-callout">$<%= @bootstrap[:value_per_share] %></em> to them.</p>
          </div>
          <p id="donate">If this is important to you, you can donate an additional <em class="donation-callout">$2</em> to <%= @bootstrap[:publisher_name] %></p>
        </main>
        <aside>
          <p>This was important because...</p>
          <q><%= @bootstrap[:testimonial] %></q>
          <time>5 minutes ago</time>
        </aside>
      </div>
      <footer>
        <small>about this funding</small><small>powered by impaq.me</small>
      </footer>
    </section>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/app.js"></script>

    <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"));</script>
    <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","facebook-jssdk"));</script>
  </body>
</html>
