<div id="dashMain">
  <%= form_for(@campaign) do |f| %>
    <% if @campaign.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

    <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :foundation_name %><br>
    <%= f.text_field :foundation_name %>
  </div>
  <div class="field">
    <%= f.label :publisher_name %><br>
    <%= f.text_field :publisher_name %>
  </div>
  <div class="field">
    <%= f.label :domains %><br>
    <%= f.text_field :domains, { value: @campaign.domains_to_s } %>
  </div>
  <div class="field">
    <%= f.label :share_cooldown_days %><br>
    <%= f.number_field :share_cooldown_days, :step => 1 %>
  </div>
  <div class="field">
    <%= f.label :value_per_share %><br>
    <%= f.number_field :value_per_share, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :value_per_click %><br>
    <%= f.number_field :value_per_click, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :goal %><br>
    <%= f.number_field :goal, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :paypal_email %><br>
    <%= f.text_field :paypal_email %>
  </div>
  <div class="field">
    <%= f.label :twitter_username %><br>
    <%= f.text_field :twitter_username %>
  </div>
  <div class="field">
    <%= f.label :recommended_donation %><br>
    <%= f.number_field :recommended_donation, :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :widget_header %><br>
    <%= f.text_area :widget_header %>
  </div>
  <div class="field">
    <%= f.label :widget_solicit %><br>
    <%= f.text_area :widget_solicit %>
  </div>
  <div class="field">
    <%= f.label :widget_follow_up_cta %><br>
    <%= f.text_area :widget_follow_up_cta %>
  </div>
  <div class="field">
    <%= f.label :widget_thanks %><br>
    <%= f.text_area :widget_thanks %>
  </div>
  <div class="field">
    <label>Keys</label>
    <ul>
      <li>{{foundation_name}}</li>
      <li>{{publisher_name}}</li>
      <li>{{share_cooldown_days}}</li>
      <li>{{value_per_share}}</li>
      <li>{{value_per_click}}</li>
      <li>{{goal}}</li>
      <li>{{twitter_username}}</li>
      <li>{{recommended_donation}}</li>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
