<div class="unnamed">
  <ul class="share_tools">
    <li class="facebook"><div class="fb-like" data-href="<%= facebook_shortlink %>" data-width="90" data-layout="button_count"></div></li>
    <li class="twitter"><a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-text="<%= article_title %>" data-url="<%= twitter_shortlink %>" data-count="none">Tweet</a></li>
    <li class="email"><a href="mailto:?subject=<%= encodeURIComponent("Check this out: " + article_title) %>&amp;body=<%= encodeURIComponent(twitter_shortlink) %>" target="_blank">Email</a></li>
  </ul>
  <div class="progress_meter"><p>$<%= total %> Raised so far</p></div>
  <style type="text/css">.progress_meter p::before { width:<%= percent %>%; }</style>
</div>
