<div class="fb-like" data-href="<%= location.protocol + "//" + location.host %>/<%= facebook_shortlink %>" data-width="90" data-layout="button_count"></div>
<a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-url="<%= location.protocol + "//" + location.host %>/<%= twitter_shortlink %>" data-count="none">Tweet</a>
<a href="<%= location.protocol + "//" + location.host %>/<%= twitter_shortlink %>" target="_blank">Short URL</a>
<a>Email</a>
