<p id="solicit"><%= publisher_name %> is a 501(c)(3) non-profit. if you share this article, the <%= foundation_name %> will donate <em class="share-value">$<%= value_per_share %></em> to them.</p>
<p id="thanks"><em>Thanks! The <%= publisher_name %> just got $<%= value_per_share %> thanks to you.</em><br/>
The best way to help is to get more people involved; tell your friends!</p>
<p id="donate">If this is important to you, you can donate an additional <em class="donation-value">$2</em> to <%= publisher_name %> <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" /></p>
<footer><small>about this funding</small><small>powered by impaq.me</small></footer>
