<div>
  <p class="solicit"><%= publisher_name %> is a 501(c)(3) non-profit. if you share this article, <%= foundation_name %> will donate <strong class="share-value">$<%= value_per_share %></strong> to them.</p>
  <p class="thanks"><strong>Thanks! <%= publisher_name %> just got <strong class="click-value"/>$<%= value_per_share %></strong> thanks to you.</strong><br/>
  The best way to help is to get more people involved; tell your friends!</p>
  <div class="follow_up_cta">
    <p>If this is important to you, you can donate an additional <strong class="donation-value">$1</strong> to <%= publisher_name %></p>
    <span><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" /></span>
  </div>
</div>
