<!DOCTYPE html>
<html>
<head>
  <title>Impaq.me</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <!--[if lt IE 9]>
    <script src="/scripts/html5shim.js"></script>
    <script src="/scripts/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_tag :style, @campaign[:css_overrides] if @campaign %>

<%= yield %>

</body>
</html>
