<!DOCTYPE html>
<html>
<head>
  <title>Impaq.me</title>
  <%= stylesheet_link_tag "foundation", "dashboard" %>
  <%= javascript_include_tag "modernizr.foundation" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "jquery", "jquery_ujs", "foundation" %>
<script>
  $(document).foundation();
</script>
</body>
</html>
