<!DOCTYPE html>
<html>
  <head>
    <title>Impaq.me</title>
    <%= stylesheet_link_tag "dashboard" %>
    <%= javascript_include_tag "dashboard" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>

    <% flash.each do |(type, messages)| %>
      <% Array.wrap(messages).each do |message| %>
        <div data-alert class="alert-box <%= type == 'error' ? 'alert' : 'success' %>">
          <%= message %>
        </div>
      <% end %>
    <% end %>


    <%= yield %>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
