<!DOCTYPE html>
<html>
  <head>
    <title>Impaq.me</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "lineman/iframe/app", media: "all" %>
    <%= content_tag :style, @campaign[:css_overrides] if @campaign %>
    <!--[if lt IE 9]>
      <script src="/scripts/ie8-shims.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <main>
      <%= yield %>
    </main>

    <%= javascript_include_tag "lineman/iframe/app" %>
    <script type="text/javascript">
      window.impaqme = <%= j(@campaign.to_json.html_safe) %>;
      ga('create', 'UA-17578670-6');
      ga('set', 'dimension1', '<%= @campaign[:campaign_id] %>');
      ga('set', 'dimension2', '<%= @campaign[:variant_id] %>');
    </script>
  </body>
</html>
